

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.listTable{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.listTr:nth-child(even) {
    background-color: #dddddd;
}
